# OpenRouter
OPEN_ROUTER="https://openrouter.ai/api/v1"
OPENROUTER_API_KEY='you-api-key'

# Models
KIMI_K2="moonshotai/kimi-k2:free"
QWEN3_14B='qwen/qwen3-14b:free'
QWEN3_235B_A22B="qwen/qwen3-235b-a22b:free"
GPT_OSS_20B="openai/gpt-oss-20b:free"
GEMMA_3_27B_IT='google/gemma-3-27b-it:free'

