body{
    background-color:cyan;
    padding: 0;
    margin: 0;
}


header{
    background-color: bisque;
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
    
}


.container{
    background-color: brown;
    display: flex;
    width: 100%;
    height: auto;
}

.block_instruction{
    display:flex;
    background-color: chocolate;
    width: 100%;
    height: auto;
}

.instructions{
    background-color: chartreuse;
    display: block;
    margin-left: 50%;
    padding-left: 5%;
    width: 50%;
    height: auto;
}

.h2_insturction{
    margin-left: 25%;
}

.instruction_text{
    margin-left: 5%;
}

.block_input{
    background-color: rgb(112, 80, 255);
    margin-top: 2%;

    padding-top: 10px;
    padding-bottom: 10px;

}

.inputText{
    position: inherit;
    background-color: red;
    width: 90vw;
    height: 30vh;
    margin-left: 2vw;
    margin-top: 2vh;
}

button{
    background-color:darkmagenta;
    padding: 10px;
}